body {
  margin: 0;
  padding: 0;
}

#wrapper {
    height: 100%;
    display: flex;
justify-content: center;
}

header {
  width:1000px;
  margin: 0 auto;
  background-color: #ffcccc;
}

#main {
  background-color: #ccffcc;
  width: 700px;
  float: left;
}

nav {
  background-color: #ccccff;
  width: 300px;
  float: left;
}


ul {
  margin: 50;
  padding: 30;
}

footer {
  width: 1000px;
  margin: 0 auto;
  background-color: #ffccff;
  clear: both;
}
