body {
  margin: 0;
  padding: 0;
}

#wrapper {
    width: 1000px;
    height: 100%;
    display: flex;
}

header {
  width:1000px;
  background-color: #ffcccc;
}

#main {
  background-color: #ccffcc;
  width: 700px;
  float: left;
}

#menu {
  background-color: #ccccff;
  width: 300px;
  float: left;
}



footer {
  width: 1000px;
  background-color: #ffccff;
  clear: both;
}

